# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/  # Ignore uploaded media files
media/*
media/**/*
!media/.gitkeep
staticfiles/  
.env  
venv/
env/
.venv/
dump.rdb
*.pdf
# React + Vite
# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage
/junit.xml  

# Production
/build
/dist
.next  # Ignore Next.js build files (if used)

# Misc
.DS_Store  
Thumbs.db  
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem  # Ignore private key files

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/*
!.vscode/extensions.json  
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python Virtual Environment (Alternative Naming)
Pipfile
Pipfile.lock

.hypothesis
.pytest_cache
Backend/data.json
Backend/groups.json
Backend/contenttypes.json
Backend/permissions.json

Backend/users.json
